<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>U.S. Housing Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color:#d1c1a3;">
  <div class="container-fluid">
    <div class="jumbotron text-center" style="background:url(https://wallpapertag.com/wallpaper/full/6/7/e/191626-mars-wallpaper-1920x1200-retina.jpg);">
      <h1>U.S. Housing Data</h1>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12"></div>
      <div align="center">
        <p>Description (col-lg-12)</p></div>
      </div>

    <br>

    <br>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p>Map (col-lg-10)</p>
      </div>
      <div class="col-lg-2">
        <div align="center"></div>
        <p>Summary Card (col-lg-2)</p>
      </div>
    </div>



      <br>

      <div class="row justify-content-center">
          <div align="center">
          <br>
        <div class="col-lg-6">
          <p>Bubble Chart (col-lg-6)</p>
        </div>
        <div class="col-lg-6">
          <p>Line Chart (col-lg-6)</p>
        </div>
      </div>
      </div>

      <br>

      <div class="row justify-content-center">
          <div align="center">
          <br>
        <div class="col-lg-6">
          <p>Summary (col-lg-6)</p>
        </div>
        <div class="col-lg-6">
          <p>Summary (col-lg-6)</p>
        </div>
      </div>
      </div>
      
      

  </div>
</div>
</body>


</html>