<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>U.S. Housing Data</title>
   <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><font color="white"><b>U.S. Housing Market Analysis</b></font></a>
      <a class="navbar-sub"><font color="rgba(245, 245, 245, 0.849)">An overview of annual trends and market factors across U.S. counties.</font></a>
    </div>
  </div>
</nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="row justify-content-center">
      <div id="leafletmap" class="col-lg-8 col-md-9">
        <div id='map'></div>
      </div>
      <div class="col-lg-4">
        <p>Summary Card (col-lg-2) Click on any county shown on the map to generate a summary below. The (insert description) blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah Vero tota consequuntur sed et. Ex euismod contentiones has, at nec error semper malorum. Solet temporibus sed no. Mel vivendum concludaturque ne, feugiat voluptua explicari pro ut</p>
        <div id="summary-card"></div>
        
      </div>
    </div>

    


      <!-- <div class="row justify-content-center">
          <div align="center"> -->


        <div class="col-lg-9">
          <p>Place holder (col-lg-9) something about the map above?</p>
        </div>

       
        
        
        <div class="col-lg-3">
          <!-- <img src="../images/rent_cartoon.png" alt="rent"> -->
          <p>Place Holder (col-lg-3) something about the summary card above?</p>
        </div>   

      <br>
      <br>

      <div class="row justify-content-center">
          <!-- <div align="center"></div> -->
          <br>
        <div class="col-lg-9">
          <p align="left">Summary (col-lg-9) something about the menu and the plot below Lorem ipsum dolor sit amet, partem alterum deterruisset pro eu, id usu mutat nostro accusam. Vero tota consequuntur sed et. Ex euismod contentiones has, at nec error semper malorum. Solet temporibus sed no. Mel vivendum concludaturque ne, feugiat voluptua explicari pro ut, duo ex meis paulo copiosae. Mei et novum partem imperdiet, amet persequeris eam id. Congue impetus delectus in pri, qui eu tollit civibus.</p>
        </div>
        <!-- <div class="col-lg-6">
          <p>Summary (col-lg-6) something something something</p>
        </div> -->
        <div class="col-lg-3">
          <p align="left">Summary (col-lg-3) Extra stuff Lorem ipsum dolor sit amet, partem alterum deterruisset pro eu</p>
        </div>
      </div>
      </div>
      
      

  </div>



<div class="container-fluid">
  <div class="row">

  <!-- start of select year, x and y axis html -->
  <div class="col-md-3">
    <aside class="filters">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Select Year</strong></div>
        <div class="panel-body">
          <select id="xAxisSelection" onchange="newYearBubble(this.value)">
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
          </select> 
          <button id="timeAll-btn" type="button" class="btn btn-warning" style="background-color:black; color:white; border:transparent"onclick="bubbleOverTime()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"> </span> Play Over Time
          </button>
        </div>
      </div>
    </aside>

      <!-- State select options -->
    <aside class="filters">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>State Filters</strong></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <ul class="list-group" id="filters">
                <li class="filter list-group-item">
                  <label for="state">Type in a State</label>
                  <input class="form-control" id="stateSelector" type="text" placeholder="Illinois">
                </li>
              </ul>
            </div>
            <button id="stateHighlight-btn" type="button" class="btn btn-primary" style="background-color:rgb(252, 189, 134); color:darkslategray; border:transparent" onclick="stateHighlight()"> Highlight State </button>
            <button id="stateIsolate-btn" type="button" class="btn btn-primary"  style="background-color:rgb(252, 189, 134); color:darkslategray; border:transparent" onclick="stateIsolate()"> Isolate State </button>
            <hr>
            <button id="stateAll-btn" type="button" class="btn btn-primary"  style="background-color:black; color:white; border:transparent" onclick="stateAll()">Show All States </button>
          </form>
        </div>
      </div>
    </aside>

    <aside class="filters">
      <div class="panel panel-success">
        <div class="panel-heading"><strong>Select X Axis (Variable 1)</strong></div>
        <div class="panel-body">
          <select id="xAxisSelection" onchange="newXBubble(this.value); NewVar2(this.value);">
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value" >Median Home Value</option>
            <option value="median_home_sales_zillow">Median Home Sales Price</option>            
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income" selected>Median Income</option> 
            <!-- <option value="population">Population</option> -->
          </select> 
        </div>
      </div>
    </aside>

    <aside class="filters">
      <div class="panel panel-info">
        <div class="panel-heading"><strong>Select Y Axis (Variable 2)</strong></div>
        <div class="panel-body">
          <select id="yAxisSelection" onchange="newYBubble(this.value); NewVar1(this.value);">
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value" selected>Median Home Value</option>
            <option value="median_home_sales_zillow">Median Home Sales Price</option>  
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income" >Median Income</option> 
            <!-- <option value="population">Population</option> -->   
          </select> 
        </div>
      </div>
    </aside>

    <aside class="filters">
      <div class="panel panel-danger">
        <div class="panel-heading"><strong>Select Variable 3</strong></div>
        <div class="panel-body">
          <select id="zAxisSelection" onchange="NewVar3(this.value);">
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value">Median Home Value</option>
            <option value="median_home_sales_zillow">Median Home Sales Price</option>  
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income">Median Income</option> 
            <option value="population" selected>Population</option> 
            <!-- <option value="population">Population</option> -->   
          </select> 
        </div>
      </div>
    </aside>

  
  </div>




  <!-- Inserts the bubble chart -->
  <div class="col-md-6">
    <div id="bubble"></div>
    <br>
    <br>
    <div id="line-chart"></div>
  </div>
  
  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet, partem alterum deterruisset pro eu, id usu mutat nostro accusam. Vero tota consequuntur sed et. Ex euismod contentiones has, at nec error semper malorum. Solet temporibus sed no. Mel vivendum concludaturque ne, feugiat voluptua explicari pro ut, duo ex meis paulo copiosae. Mei et novum partem imperdiet, amet persequeris eam id. Congue impetus delectus in pri, qui eu tollit civibus.</p>
    <p> </p>
    <p>Lorem ipsum dolor sit amet, partem alterum deterruisset pro eu, id usu mutat nostro accusam. Vero tota consequuntur sed et. Ex euismod contentiones has, at nec error semper malorum. Solet temporibus sed no. Mel vivendum concludaturque ne, feugiat voluptua explicari pro ut, duo ex meis paulo copiosae. Mei et novum partem imperdiet, amet persequeris eam id. Congue impetus delectus in pri, qui eu tollit civibus.</p>
    <p> </p>
    <p>sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches sandwiches </p>
    <p> </p>
    <p> more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches more sandwiches </p>
  </div>

  <div class="col-md-12">
    <p>place holder  (col-lg-12)</p>
  </div>   

  <!-- <div class="col-md-4">
    <div id="line-chart"></div>
    <p>Line Chart  (col-lg-6)</p>
  </div>    -->
  
  <!-- <div class="col-lg-3">
    <aside class="filters">
      <div class="panel panel-success">
        <div class="panel-heading"><strong>Select variable 1</strong></div>
        <div class="panel-body">
          <select id="VariableOneSelection" onchange="NewVar1(this.value)">
            <option value="median_home_value">Median Home Value</option>
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income">Median Income</option> 
            <option value="population">Population</option>
          </select> 
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-3">
    <aside class="filters">
      <div class="panel panel-info">
        <div class="panel-heading"><strong>Select variable 2</strong></div>
        <div class="panel-body">
          <select id="VariableTwoSelection" onchange="NewVar2(this.value)">
            <option value="median_income">Median Income</option> 
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value">Median Home Value</option>
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="population">Population</option>
          </select> 
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-9">
    <p>Place Holder2 (col-lg-6)</p>
  </div> 

  <div class="col-lg-3">
    <aside class="filters">
      <div class="panel panel-danger">
        <div class="panel-heading"><strong>Select variable 3</strong></div>
        <div class="panel-body">
          <select id="VariableThreeSelection" onchange="NewVar3(this.value)">
            <option value="population">Population</option>
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value">Median Home Value</option>
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income">Median Income</option> 
          </select> 
        </div>
      </div>
    </aside>
  </div>  
  </div> -->
</div>
</div>


</body>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bubbleapp.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timegraph.js') }}"></script>
  <script src="{{ url_for('static', filename='js/summary_card.js') }}"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/county_geojson.js') }}"></script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
<!-- random D3 stuff -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->

</html>

