<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>U.S. Housing Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div style="background-color:#d6d6d6;">
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <h1><strong>U.S. Housing Analysis</strong></h1>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12"></div>
      <div align="center">
        <p>Description (col-lg-12)</p></div>
      </div>

    <br>

    <br>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p>Map (col-lg-10)</p>
      </div>
      <div class="col-lg-2">
        <div align="center"></div>
        <p>Summary Card (col-lg-2)</p>
      </div>
    </div>



      <br>

      <div class="row justify-content-center">
          <div align="center">
          <br>
        <div class="col-lg-6">
          <p>Bubble Chart (col-lg-6)</p>
        </div>
        <div class="col-lg-6">
          <p>Line Chart (col-lg-6)</p>
        </div>
      </div>
      </div>

      <br>

      <div class="row justify-content-center">
          <div align="center">
          <br>
        <div class="col-lg-6">
          <p>Summary (col-lg-6)</p>
        </div>
        <div class="col-lg-6">
          <p>Summary (col-lg-6)</p>
        </div>
      </div>
      </div>
      
      

  </div>



<div class="container-fluid">
  <div class="row">

  <!-- start of select year, x and y axis html -->
  <div class="col-md-3">
    <aside class="filters">
      <div class="panel panel-default">
        <div class="panel-heading">Select Year</div>
        <div class="panel-body">
          <select id="xAxisSelection" onchange="newYearBubble(this.value)">
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
          </select> 
        </div>
      </div>
    </aside>

    <aside class="filters">
      <div class="panel panel-default">
        <div class="panel-heading">Select X Axis</div>
        <div class="panel-body">
          <select id="xAxisSelection" onchange="newXBubble(this.value)">
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value">Median Home Value</option>
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income">Median Income</option> 
            <!-- <option value="population">Population</option> -->
          </select> 
        </div>
      </div>
    </aside>

    <aside class="filters">
      <div class="panel panel-default">
        <div class="panel-heading">Select Y Axis</div>
        <div class="panel-body">
          <select id="yAxisSelection" onchange="newYBubble(this.value)">
            <option value="total_housing_units">Total Housing Units</option>
            <option value="total_housing_units_occupied">Total Housing Units (Occupied)</option>
            <option value="median_rooms">Median Rooms</option>
            <option value="owner_occupied_units">Owner Occupied Units</option>
            <option value="renter_occupied_units">Renter Occupied Units</option>
            <option value="median_home_value">Median Home Value</option>
            <option value="median_rent">Median Rent</option>
            <option value="monthly_cost_with_mortgage">Monthly Cost - With Mortgage</option>
            <option value="monthly_cost_no_mortgage">Monthly Cost - No Mortgage</option>
            <option value="median_income">Median Income</option> 
            <!-- <option value="population">Population</option> -->   
          </select> 
        </div>
      </div>
    </aside>

    <!-- State select options -->
  <aside class="filters">
    <div class="panel panel-default">
      <div class="panel-heading">State Filters</div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <ul class="list-group" id="filters">
              <li class="filter list-group-item">
                <label for="state">Type in a State</label>
                <input class="form-control" id="stateSelector" type="text" placeholder="Illinois">
              </li>
            </ul>
          </div>
          <button id="stateHighlight-btn" type="button" class="btn btn-primary" onclick="stateHighlight()"> Highlight State </button>
          <button id="stateIsolate-btn" type="button" class="btn btn-primary" onclick="stateIsolate()"> Isolate State </button>
          <hr>
          <button id="stateAll-btn" type="button" class="btn btn-primary" onclick="stateAll()">Show All States </button>
        </form>
      </div>
    </div>
  </aside>
  </div>




  <!-- Inserts the bubble chart -->
  <div class="col-md-9">
    <div id="bubble"></div>
  </div>






</body>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bubbleapp.js') }}"></script>

</html>